{% extends 'base.html' %}

{% block head %}

    <style>
        button {
            background-color: red;
            border-radius: 4px;
            padding: 2px;
        }
    </style>
{% endblock head %}

{% block content %}

    {{article.title}}
    {{article.content|safe}}

    {% for tag in article.tags.all %}
        {{ tag }}
    {% endfor %}

    <form method="post" hx-post="{% url 'core:comment-create' %}" hx-vals='{"id":{{article.id}}}'>
        {% csrf_token %}

        <input type="text" name="text">

        <button type="submit">Submit</button>
    </form>
    {% for comment in article.comments.all %}
          <div>

        {{comment.body}}
        <button onclick="replycheck()">Reply</button>
        <form hx-post="{% url 'core:reply-create' %}" hx-vals='{"id":{{comment.id}}}' method="post" style="display: none;" id="reply-form">
            {% csrf_token %}

            <input type="text" name="text">

            <button type="submit">Submit</button>
        </form>
        {% with replies=comment.replies.all %}
            {% for reply in replies %}
                <p class="bg-primary p-3 m-2">{{ reply.user }} <br/> {{ reply.body }}</p>
            {% endfor %}
        {% endwith %}
        <a href=""></a>
        </div>

    {% endfor %}

        <div>
            {% include "blog/partials/like.html" %}
        </div>

    {% for cat in article.category.all %}
        {{cat.name}}
    {% endfor %}
        <div>
            {% include "blog/partials/bookmark.html" %}
        </div>
        
<script>
    document.body.addEventListener('htmx:configRequest', (e) => {
        e.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    function replycheck() {
        form = document.querySelector('#reply-form')

        form.style.display = ""
    }
</script>
{% endblock content %}