<div class="list-group list-group-horizontal btn-group" id="bookmarksarea" role="group">
    <p>{{ book.bookmarks.count }} bookmarks
    
        <button hx-post="{% url 'core:bookmark-create' %}" hx-vals='{"id":{{book.id}}, "type": "book"}' id="book-button" 
          hx-target="#bookmarksarea" hx-swap="outerHTML">
          {% if request.user in book.bookmarks.all %}
            <i class="material-icons" style="font-size:16px;color:green;">check_box</i>
          {% else %}
          <i class="material-icons" style="font-size:16px;color:yellowgreen;">check_box_outline_blank</i>
          {% endif %}
        </button>

    </p> 
    
</div>